.ul-style img{
    /* display: inline; */
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;

}
.ul-style span{
    margin-left: 10px;
}
.ul-style{
    list-style: none;
}
.ul-style li{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.removeAll{
    margin-left: 0px 50px;
    padding: 10px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    border-radius: 10px;

}